/* сообщение о типе ошибки в popup при вводе */
.popup__input-error {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin: 0;
  display: block;
  min-height: 30px;
}
